
html, body {
    margin: 0;
    padding: 0;
  }
  
  .jumbotron {
    font-family: 'Montserrat', sans-serif;
    padding: 150px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./skateboards.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
  }
.text-muted{
    font-weight:bold;
}
  .jumbotron h1 {
    font-size: 70px;
    margin-bottom: 0;
    font-family: 'Lexend Mega', sans-serif;
  }
  
  .jumbotron p {
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    margin: 0 0 30px;
  }
  
  .card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.card-title{
    font-family: 'Lexend Mega', sans-serif;
}

.card-text{
    font-family: 'KoHo', sans-serif;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    nav { background-color: rgb(233, 217, 221); }
}
@media screen and (min-width: 601px) and (max-width: 999px) {
    nav { background-color: rgb(228, 216, 195); }
}
@media screen and (min-width: 1000px) {
    nav { background-color: rgb(255, 255, 255);}
}
